.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
  padding: 1rem;
  flex-wrap: wrap;
}

.image-side, .form-side {
  flex: 1 1 400px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-color: white;
 
}

.image-side img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  
}

.login-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.login-form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.register-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.95rem;
}

.register-link a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}


/* Responsividade */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-image {
    height: 200px;
  }

  .login-form {
    padding: 20px;
  }
}
